# Server
PORT=5002
HOST_URL=0.0.0.0
# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# Firebase (Push Notifications)
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY_ID=your-private-key-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your-firebase-adminsdk@example.iam.gserviceaccount.com

# FOR GOOGLE AUTH IN ANDROID, IOS APPS AND WEB
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=your-google-android-client-id.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id.apps.googleusercontent.com
# android
# iOS
# web client

APPLE_CLIENT_ID=com.app.myRvApp   # For iOS native: Bundle ID



# SendGrid (Email)
SENDGRID_API_KEY=your_sendgrid_api_key
EMAIL_FROM=notifications@yourdomain.com

# Twilio (Optional SMS)
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890


EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password
EMAIL_SERVICE=gmail
SERVICE_NAME=My RV Vault

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=eu-north-1
AWS_BUCKET_NAME=your-bucket-name
